/* div p {
    background-color: purple;
    height: 30px;
} */


/* div>p {
    background-color: purple;
    height: 30px;
} */


/* div+p {
    background-color: purple;
    height: 30px;
} */

div~p {
    background-color: purple;
    height: 30px;
}